.footer{
	background: #171725;
	max-width: 100%;
	height: 169px;
  	padding: 45px 0 45px;
}
.footer1{
	display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 1300px;


  /*padding: 45px 0 45px;*/
}
.text_footer{
color: #FFFFFF;
padding-left: 348px;
/*padding-top: 47px;*/
}
.text2_footer{
color: #FFFFFF;
/*padding-top: 47px;*/

}
.text3_footer{
display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 600px;
}